.hero {
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        90deg,
        rgba(17, 24, 40, 0.8) 22.05%,
        rgba(0, 0, 0, 0) 88.21%
      );
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        90deg,
        rgba(17, 24, 40, 0.8) 22.05%,
        rgba(0, 0, 0, 0) 88.21%
      );
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    padding: 60px 0 35px;
    color: #fdfeff;
    &-content {
      width: 80%;
      max-width: 520px;
      margin-bottom: 60px;
      position: relative;
      z-index: 2;
      h6 {
        opacity: 0.4;
        margin-bottom: 10px;
      }
      h1 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 25px;
        max-width: 413px;
      }
    }
    &-image {
      position: absolute;
      right: 0;
      top: -20px;
      width: 45%;
      max-width: 505px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 430px;
      img {
        width: 100%;
      }
    }
    &-row {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 640px;
      display: flex;
      justify-content: space-between;
    }
  }
  &Item {
    width: calc(32% - 8px);
    max-width: 165px;
    &.big {
      width: calc(36% - 8px);
      max-width: 195px;
    }
    h6 {
      opacity: 0.9;
      margin-bottom: 8px;
    }
    p {
      opacity: 0.8;
      span {
        color: $primary;
      }
    }
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
  }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
  }
}
// 440px
@mixin hero-xxsm-xsm {
  .hero {
  }
}
.info {
  position: relative;
  padding: 70px 0;
  color: $white2;
  &.sm {
    padding: 55px 0 80px;
    &::after {
      display: none;
    }
    .info {
      &__bg {
        &::before {
          background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0) 5.25%,
            #111828 74.62%
          );
          opacity: 0.83;
        }
        &::after {
          background: #2f3d55;
          opacity: 0.7;
        }
      }
      &__inner {
        &-content {
          max-width: unset;
        }
        p {
          max-width: 900px;
        }
      }
    }
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width: 324px;
    height: 100%;
    content: "";

    background: linear-gradient(
      270deg,
      rgba(17, 24, 40, 0.8) 11.03%,
      rgba(0, 0, 0, 0) 88.21%
    );
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        90deg,
        rgba(17, 24, 40, 0.8) 38.81%,
        rgba(0, 0, 0, 0) 88.21%
      );
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        90deg,
        rgba(17, 24, 40, 0.8) 66.1%,
        rgba(0, 0, 0, 0) 97.18%
      );
      opacity: 0.8;
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    &-content {
      max-width: 550px;
    }
    h3 {
      color: $primary;
      font-weight: 800;
      margin-bottom: 24px;
      &.sm {
        font-weight: 600;
        color: $white;
        margin-bottom: 5px;
      }
    }
    p {
      max-width: 460px;
    }
  }
}
.doc {
  position: relative;
  padding: 120px 0;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    img {
      @include fullImage;
    }
  }
  &__inner {
    &-title {
      max-width: 1040px;
      margin: 0 auto 110px;
      text-align: center;
      p {
        font-weight: 600;
        span {
          color: $primary;
          font-weight: 700;
        }
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      max-width: 830px;
      margin: 0 auto;
    }
  }
  &Item {
    width: calc(33.3% - 8px);
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
      .docItem {
        &__image {
          margin-top: -8%;
        }
      }
    }
    &.sm {
      .docItem {
        &__image {
          width: 90%;
        }
      }
    }
    &__image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
  }
}
.partners {
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    img {
      @include fullImage;
    }
  }
  &__inner {
    &-row {
      max-width: 1040px;
      display: flex;
      justify-content: space-between;
    }
  }
  &Item {
    width: calc(20% - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
.discover {
  position: relative;
  padding: 85px 0;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";

      background: radial-gradient(
        49.37% 91.7% at 50.63% 49.93%,
        rgba(0, 0, 0, 0) 4.05%,
        #111828 74.3%
      );
      opacity: 0.9;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: #111828;
      opacity: 0.55;
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    position: relative;
    &-row {
      display: flex;
      justify-content: space-between;
      max-width: 1040px;
    }
  }
  &Item {
    width: calc(33.3% - 10px);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white2;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 75px;
      img {
        @include fullImage;
      }
    }
  }
}
.contact {
  position: relative;
  padding: 120px 0;
  color: $white2;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: radial-gradient(
        49.37% 91.7% at 50.63% 49.93%,
        rgba(0, 0, 0, 0) 4.05%,
        #111828 74.3%
      );
      opacity: 0.63;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: #111828;
      opacity: 0.55;
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    &-title {
      text-align: center;
      max-width: 640px;
      margin: 0 auto 44px;
      p {
        color: $white;
        max-width: 520px;
        margin: 0 auto;
      }
    }
    &-form {
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .input {
      width: 100%;
      margin-bottom: 32px;
    }
    .button {
      width: 100%;
      max-width: 212px;
    }
    h3 {
      margin-bottom: 16px;
      span {
        color: $primary;
        display: block;
      }
    }
  }
}
.testimonials {
  position: relative;
  padding: 80px 0;
  color: $white2;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: radial-gradient(
        49.37% 91.7% at 50.63% 49.93%,
        rgba(0, 0, 0, 0) 4.05%,
        #111828 74.3%
      );
      opacity: 0.85;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: #2f3d55;
      opacity: 0.6;
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    &-slider {
      max-width: 1040px;
      margin: 0 auto;
      padding: 0 40px;
    }
    .slick {
      &-arrow {
        width: 42px;
        height: 42px;
        display: flex;
        border-radius: 50%;
        background-color: $primary;
        position: absolute;
        top: 50%;
        z-index: 3;
        transition: .3s ease;
        &:hover {
          background-color: $main;
        }
        &:focus {
          background-color: $main;
        }
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right: 12px solid #f8f8ff;
          opacity: 1;
          transform: translate(-70%, -50%);
          content: "";
        }
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
        &::before {
          transform: translate(-30%, -50%) scaleX(-1);
        }
      }
    }
  }
  &Item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__avatar {
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include fullImage;
      }
    }
    h3 {
      font-weight: 600;
      margin-bottom: 35px;
    }
    p {
      font-weight: 400;
      max-width: 870px;
      margin: 0 auto;
    }
  }
}
